{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="col-md-3 col-sm-6">
                <h4>O nas</h4>

                <p>Jesteśmy największą wypożyczalnią sprzętu turystycznego i wspinaczkowego w Polsce.</p>

                <hr>

                <h4>Zapisz się na newsletter</h4>

                <form>
                    <div class="input-group">

                        <input type="text" class="form-control">

                        <span class="input-group-btn">

                        <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

                    </span>

                    </div>
                    <!-- /input-group -->
                </form>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Zamówienia</h4>

                <div class="blog-entries">
                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">Jak zamawiać?</a></h4>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">Odbiór osobisty</a></h4>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">FAQ</a></h4>
                        </div>
                    </div>


                </div>

                <hr class="hidden-md hidden-lg">

            </div>


            <div class="col-md-3 col-sm-6">

                <h4>Poradniki</h4>

                <div class="blog-entries">
                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">Jak zacząć się wspinać</a></h4>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">Wybór raków</a></h4>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="name same-height-always">
                            <h4><a href="#">Najpopularniejsze rejony wspinaczkowe</a></h4>
                        </div>
                    </div>


                </div>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Skontaktuj się z nami</h4>

                <p><strong>Szpejara</strong>
                    <br>ul. Wspinaczkowa 8
                    <br><strong>Kraków</strong>
                    <br>
                    <br><i class="fa fa-envelope" aria-hidden="true"></i> szpejara@szpejara.pl
                    <br><i class="fa fa-phone" aria-hidden="true"></i> 888 888 888


                </p>

                <a href="contact.html" class="btn btn-small btn-template-main">Jak nas znaleźć?</a>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </footer>
    <!-- /#footer -->

    <!-- *** FOOTER END *** -->

    <!-- *** COPYRIGHT ***
_________________________________________________________ -->

    <div id="copyright">
        <div class="container">
            <div class="col-md-12">
                <p class="pull-left">&copy; 2017. Szpejara www.szpejara.pl</p>
                <p class="pull-right">Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://remoteplease.com">Remote Please</a>
                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                </p>

            </div>
        </div>
    </div>
    <!-- /#copyright -->

    <!-- *** COPYRIGHT END *** -->



    </div>
{% endblock %}