<h3>{{ 'av_sizes'|trans }}</h3>

<label for="size_s">
    <a href="#">S</a>
    <input type="radio" id="size_s" name="size" value="s" class="size-input">
</label>
<label for="size_m">
    <a href="#">M</a>
    <input type="radio" id="size_m" name="size" value="m" class="size-input">
</label>
<label for="size_l">
    <a href="#">L</a>
    <input type="radio" id="size_l" name="size" value="l" class="size-input">
</label>